@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
body {
  margin: 0;
  font-family: 'Karla', sans-serif;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  cursor: pointer;
}

.container {
  max-width: 80rem;
  margin: 0 auto;
  padding: 1rem;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
}
