.title {
  margin: 2rem 0;
  font-size: 2.5rem;
  text-align: center;
}

.logout {
  display: block;
  margin: 2rem 0 2rem auto;
  padding: 0.4rem 0.8rem;
  background-color: rgb(245, 78, 78);
  border: none;
  border-radius: 0.5rem;
  font-size: 1.2rem;
}

.logout:hover {
  color: snow;
}

.table {
  text-align: center;
  width: 100%;
  max-width: 40rem;
  margin: 2rem auto;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 1rem;
}

.ref {
  font-size: 2rem;
}

button {
  color: snow;
  padding: 0.5rem;
}

button:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease;
}

button:disabled {
  background-color: rgba(128, 128, 128, 0.404);
}

.invite {
  background-color: rgb(1, 104, 1);
}

.end {
  background-color: rgb(27, 27, 163);
}

.cancel {
  background-color: rgb(151, 1, 1);
}

@media screen and (max-width: 40rem) {
  .ref {
    font-size: 1.2rem;
  }

  .title {
    font-size: 1.5rem;
  }
}
